#{@round_audio_visual.user.organisation_display_name} has added a new audio visual titled "#{@round_audio_visual.audio_visual.title}" to #{@round_audio_visual.round.name}.

:plain


Click the following link to view the audio visual.
= round_audio_visual_url(@round_audio_visual)
