%h4= @form_title
%br
= form_for([@commentable, @comment], :remote => true) do |f|
  .field_wrapper
    = f.text_area :content
  .field_wrapper
    = f.submit({class: "button green"})
  .add_comment_spinner{class: "spinner"}
  .errors
