var el = $('#comment_reply_form');

<% if @comment.errors.any? %>
  // Create a list of errors
  var errors = $('<ul />');

  <% @comment.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

  // Display the errors on the form.
  el.find('.errors').html(errors);

<% else %>
  // Get the reply wrapper element which will be replaced with the new content.
  var target = el.parents('.component_reply_wrapper');

  // Clear the form and move it out of the critique.
  el.find('input[name="id"]').val("");
  el.find('textarea[name="reply_content"]').val("");
  el.find('.errors').empty();
  el.parent().hide();
  el.parent().appendTo($('#av_comments_wrapper'))

  // Render the reply partial.
  target.replaceWith("<%= escape_javascript( 
      render partial: 'audio_visuals/component_reply', locals: {component: @comment, owner: @commentable.user}
    ) %>");

<% end %>