var el = $('#add_comment_form_wrapper > form');

<% if @comment.errors.any? %>
  // Create a list of errors
  var errors = $('<ul />');

  <% @comment.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

  // Display the errors on the form.
  el.find('.errors').html(errors);

<% else %>
  // Clear the form and move it out of the critique.
  $('#comment_content').val("");
  el.find('.errors').empty();
    
  <% if !@comments.nil? %>
    // Render the comments.
    $('#av_comments').html(
      "<%= escape_javascript(render partial: 'comment', collection: @comments, locals: {owner_id: @commentable.user.id}) %>"
    );

    // Render the pagination links.
    $('#av_comments').append(
      "<%= escape_javascript(will_paginate @comments, renderer: 'RemoteLinkRenderer', params: {controller: round_audio_visual_comments_path(@commentable, format: :js)}) %>"
    );
  <% end %>

  // Re-render the form.
  $("#add_comment_form_wrapper").html("<%= escape_javascript(render partial: 'form')%>");

<% end %>