#{@user.organisation_display_name} has updated their comment on your audio visual titled "#{@audio_visual.title}".

:plain


Click the following link to view the comment.
= round_audio_visual_url(@round_audio_visual)
