%tr{class: cycle("even", "odd")}
  %td.thin
    = member.organisation_display_name

  - if @organisation_admin
    %td.thin.text_right
      = link_to 'edit'#, edit_organisation_user_path(member)
      = "&nbsp&nbsp".html_safe
      = link_to 'remove'#, member, :confirm => 'Are you sure?', :method => :delete
