%tr{class: cycle("odd", "even")}
  %td.thin
    = member.user.organisation_display_name

  - if current_user.can_manage?(organisation)
    %td.thin.admin_column
      = link_to t("links.edit"), edit_organisation_user_path(member)
      = render "shared/link_separator"
      = link_to t("links.delete"), member, confirm: t("organisation_user.delete.confirm"), method: :delete
