#container.half_width
  %h2
    = t("organisation.index.title")

  #content
    %table.single{cellspacing: "0"}
      %tr
        %th= t("organisation.index.sub_title")

      - if @organisations.count > 0
        - @organisations.each do |organisation|
          %tr{class: cycle("odd", "even")}
            %td= link_to organisation.name, organisation_path(organisation)
