#container
  %h2
    = link_to @round.folio.organisation.name, @round.folio.organisation
    .arrow_right
    = link_to @round.folio.name, @round.folio
    .arrow_right
    = @round.name

  #content
    A list of audio visuals
