#container.half_width
  #title
    %h3 About #{t("application_name")}

  #content
    %h4 What is #{t("application_name")}?

    %p #{t("application_name")} is a website where authors of audio visuals can upload their creations and share them with other users.

    %h4 What is an audio visual?

    %p An audio visual (traditionally called a diaporama) is a sequence of photographs accompanied by music.

    %h4 So what else does this site do?

    %p As well as allowing other users to view your audio visuals you can allow people to add critiques and comments.

    %h4 I belong to an audio visual club. Can we utilise your site?

    %p Yes! Audio visual clubs or organisations can register with #{t("application_name")}. Traditional folios and rounds are supported allowing members to limit the sharing, critiquing and commenting of their audio visuals to members of their folio.
