#slideshowContainer
  #slideshowContent
    .slide
      .slideInfo
        %h1 The Outback
        %h4 by Phil

        %p.info The Outback is the vast, remote, arid area of Australia; the term colloquially can refer to any lands outside the main urban areas. The term "the outback" is generally used to refer to locations that are comparatively more remote than those areas named "the bush".

      %iframe{src: "https://player.vimeo.com/video/45747615", width: "600", height: "337", frameborder: "0", webkitAllowFullScreen: true,  mozallowfullscreen: true, allowFullScreen: true}

    .slide
      .slideInfo
        %h1 Winter Reflections
        %h4 by Max

        %p.info According to Chinese medicine, there is no better time for introspection than winter. 
        
        %p.info The season with the shortest days of the year and the deepest cold is a time for self reflection.

      %iframe{src: "https://player.vimeo.com/video/45735796", width: "600", height: "337", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}

  #slideshowFooter
    %ul
      %li.active
        %a{href: "#1"} 1
      %li
        %a{href: "#2"} 2
