#slideshowContainer
  #slideshowContent
    .slide
      .slideInfoPanel
        .slideInfo
          %h1 The Outback
          %h4 by Phil

          %p.info Poltalloch Station is a historic sheep station located on the shore of Lake Alexandrina in South Australia. It was originally established in 1839 by Nell Malcolm of Poltalloch Estate in Scotland.
   
          %p.info It is still a working sheep property and also caters for tourists who can enjoy the grounds and the many historic buildings.
        
          %p.info This audio visual shows some of the views and structures of Poltalloch.
 
      %iframe{src: "https://player.vimeo.com/video/45747615", width: "600", height: "337", frameborder: "0", webkitAllowFullScreen: true,  mozallowfullscreen: true, allowFullScreen: true}
        
    .slide
      .slideInfoPanel
        .slideInfo
          %h1 Winter Reflections
          %h4 by Max

          %p.info According to Chinese medicine, there is no better time for introspection than winter. 
          
          %p.info The season with the shortest days of the year and the deepest cold is a time for self reflection.

      %iframe{src: "https://player.vimeo.com/video/45735796", width: "600", height: "337", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}

  #slideshowFooter
    %ul
      %li.active
        %a{href: "#1"} 1
      %li
        %a{href: "#2"} 2
