<%= link_to "Invite", new_user_invitation_path %>

<div id="splash">
  <div class="splash_pane">
    <div id="splash_preview_wrapper">
      <div id="splash_preview_frame">
        <div id="splash_preview_thumb">
          <a href="#"><%= image_tag "sample_photo.png" %></a>
        </div>
      </div>
      
      <p class="caption">
        Poland, Some Impressions
        <br />
        by Max
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="splash_pane">
    <p class="intro">
      <span class="bright_text">AudioVisualArcade</span> is a
      <br />
      community driven site
      <br />
      for the
      <span class="blue_text">sharing</span> and
      <span class="blue_text">critiquing</span>
      <br />
      of diaporamas.
    </p>

    <p class="definition">
      Diaporama? A photographic slideshow
      <br />
      with accompanying audio.
    </p>
  </div>
</div>