#slideshowContainer
  #slideshowContent
    .slide
      .slideInfo
        %h1 The Outback
        %h4 by Phil

        %p.info The Outback is the vast, remote, arid area of Australia; the term colloquially can refer to any lands outside the main urban areas. The term "the outback" is generally used to refer to locations that are comparatively more remote than those areas named "the bush".

      <iframe src="http://player.vimeo.com/video/45114811?title=0&amp;byline=0&amp;portrait=0" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .slide
      .slideInfo
        %h1 Canal du Midi
        %h4 by Max

        %p.info The Canal du Midi is a 240 km long canal in Southern France. The canal connects the Garonne River to the Étang de Thau on the Mediterranean and along with the Canal de Garonne forms the Canal des Deux Mers joining the Atlantic to the Mediterranean.

      <iframe src="http://player.vimeo.com/video/39693735?title=0&amp;byline=0&amp;portrait=0" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  #slideshowFooter
    %ul
      %li.active
        %a{href: "#1"} 1
      %li
        %a{href: "#2"} 2
