// Web fonts
@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Lobster);

// Variables
@defaultFontColour: #444;
@defaultLinkColour: #444;

// Mixins
.DebugBorder(@colour) {
  border: 1px solid @colour;
  border: none;
}


// Html elements
body {
  margin: 0px;
  padding: 0px;
  background: url(background.png);
  color: @defaultFontColour;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}

header {
  text-align: left;
}

nav {
  margin: 32px 0px;
  text-align: right;

  li {
    display: inline;
    margin-left: 25px;
  }
}

a:link, a:active, a:visited {
  border-bottom: 1px dotted @defaultLinkColour;
  color: @defaultLinkColour;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid @defaultLinkColour;
  text-decoration: none;
}

a:focus {
  color: #ff0000;
}


// Div elements
#page {
  margin: 0px auto;
  padding: 0px;
  width: 950px;
  text-align: center;
}

#account_dd_wrapper {
  position: relative;
  float: right;
}

#login_link {
  height: 26px;
  line-height: 26px;
}

#account_dd_button {
  position: relative;
  margin-top: 2px;
  height: 24px;
  border: 1px solid #d7d7d7;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #e1e1e1;
  z-index: 20;

  #account_dd_content {
    float: left;
    padding: 4px 8px;
    height: 16px;
    line-height: 16px;
  }

  #account_dd_divider {
    float: left;
    width: 0px;
    height: 24px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #ededed;
  }

  #account_dd_arrow {
    float: left;
    width: 20px;
    height: 26px;
    background: url(down_arrow.png) no-repeat;
    cursor: pointer;
  }
}

#account_dd_menu {
  display: none;
  position: absolute;
  top: 26px;
  border: 1px solid #d7d7d7;
  border-top: 1px dotted #ededed;
  -moz-border-bottom-left-radius: 3px 3px;
  -moz-border-bottom-right-radius: 3px 3px;
  -o-border-bottom-left-radius: 3px 3px;
  -o-border-bottom-right-radius: 3px 3px;
  -webkit-border-bottom-left-radius: 3px 3px;
  -webkit-border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  background-color: #e1e1e1;
  text-align: center;
  z-index: 100;

  li {
    margin: 12px 0px;
  }
}


// Classes
.site_heading {
  margin-right: 10px;
  color: #21262b;
  font-family: 'Lobster';
  font-family: 'Voltaire';
  font-size: 26px;
}

.site_caption {
  color: #9d9d9d;
  font-size: 14px;
  font-style: italic;
}

.site_caption_bold {
  color: #898989;
  font-weight: bold;
}