/*----- Variables -----*/
@defaultFontColour: #444;
@defaultLinkColour: #444;
@defaultBorderRadius: 4px;
@defaultPadding: 16px;
@pageWidth: 950px;


/*----- Page layout -----*/
body {
  margin: 0px;
  padding: 0px;
  background: #f0f0f0 url(background.png);
  color: @defaultFontColour;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}

nav {
  margin: 32px 0px;
  text-align: right;

  li {
    display: inline;
    margin-left: 25px;
  }
}

header {
  margin-bottom: 40px;
  text-align: left;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

h4 {
  font-size: 12px;
  font-weight: bold;
}

p {
  margin: 5px 0px;
  line-height: 18px;
}

p.large {
  margin: 10px 0px 20px 0px;
  line-height: 18px;
}

p.info {
  margin: 20px 0px;
  font-style: italic;
  line-height: 20px;
}

pre {
  white-space: pre-wrap;
  line-height: 18px;
}

.site_heading {
  margin-right: 10px;
  color: #21262b;
  font-family: 'Yanone Kaffeesatz';
  font-size: 26px;
  text-shadow: #fff 1px 1px 0;
}

.site_heading::-moz-selection {
  background-color: #b3d4fd;
  text-shadow: none;
}

.site_heading::selection {
  background-color: #b3d4fd;
  text-shadow: none;
}

.site_caption {
  color: #9d9d9d;
  font-size: 14px;
  font-style: italic;
}

.site_caption_bold {
  color: #898989;
  font-weight: bold;
}

#page {
  margin: 0px auto;
  padding: 0px;
  width: @pageWidth;
  text-align: center;
}

#container {
  margin-bottom: 42px;
  -moz-border-radius: @defaultBorderRadius;
  -o-border-radius: @defaultBorderRadius;
  -webkit-border-radius: @defaultBorderRadius;
  border-radius: @defaultBorderRadius;
  background-color: #fff;
  text-align: left;
  box-shadow: 1px  1px rgba(205, 205, 205, 0.2),
             -1px -1px rgba(205, 205, 205, 0.2);

  h3 {
    a {
      font-size: 14px;
      font-weight: bold;
    }
  }

  #title {
    padding: @defaultPadding;
    border-bottom: 1px solid #eee;
  }

  #content {
    overflow: hidden;
    padding: @defaultPadding;
  }

  .arrow_right {
    display: inline-block;
    margin: 6px 10px 0px 10px;
    width: 7px;
    height: 7px;
    background-image: url(sprite.png);
    background-position: 0px 0px;
  }
}

.half_width {
  margin-left: auto;
  margin-right: auto;
  width: @pageWidth / 2;
}

.narrow {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


/*----- Anchors -----*/
a:link, a:active, a:visited {
  border-bottom: 1px dotted @defaultLinkColour;
  color: @defaultLinkColour;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid @defaultLinkColour;
  text-decoration: none;
}

a:focus {
  color: #ff0000;
  outline: none;
}


/*----- Forms and form controls -----*/
input, textarea {
  margin: 0px;
  padding: 6px;
  width: 255px;
  border: 1px solid #d7d7d7;
  color: @defaultFontColour;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

input:focus, textarea:focus, select:focus {
  outline: 1px solid #d0d0d0;
}

input[type='checkbox'] {
  width: 20px;
  border: none;
}

textarea {
  height: 100px;
}

.form_wrapper {
  margin: 0px auto 20px auto;
  background-color: #fff;
  text-align: left;
  box-shadow: 1px  1px rgba(205, 205, 205, 0.2),
             -1px -1px rgba(205, 205, 205, 0.2);

  h2 {
    padding: @defaultPadding;
    border-bottom: 1px solid #eee;
  }
}

.form_content {
  padding: @defaultPadding;
  padding-bottom: 2px;
}

.field_wrapper {
  margin-bottom: 20px;
  
  label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
  }
}

.field_tip {
  margin-bottom: 4px;
  font-size: 10px;
  font-style: italic;
}

.links_wrapper {
  margin-bottom: 20px;

  a:link, a:active, a:visited, a:hover {
    line-height: 20px;
  }
}

.errors {
  margin-top: 10px;
  color: #d54c4c;

  li {
    display: list-item;
    margin: 6px @defaultPadding;
    padding: 0px;
    background-color: transparent;
    cursor: default;
    list-style-type: disc;
  }
}


/*----- Tables -----*/
table.master {
  width: 550px;
}

table.slave {
  width: 250px;
}

table.single {
  width: (@pageWidth / 2) - (@defaultPadding * 2);
}

tr {
  margin: 0px;
  padding: @defaultPadding;
}

tr.odd {
  background-color: #f9f9f9;
}

tr.even {
  background-color: #f4f4f4;
}

tr.category {
  background-color: #fff;
  font-weight: bold;
}

th {
  margin: 0px;
  padding: @defaultPadding;
  border-bottom: 1px solid #909090;
  color: #666666;
  background-color: #eee;
  font-weight: bold;
  text-align: left;

  a:link, a:active, a:visited a:hover {
    font-weight: normal;
  }
}

td {
  padding: @defaultPadding;
  border-bottom: 1px solid #eee;
}

td.thin {
  padding: 8px @defaultPadding;
}

tr:last-child > td {
  border-bottom: none;
}

.admin_column {
  width: 75px;
  text-align: right;
}


/*----- Account drop down menu -----*/
#account_dd_wrapper {
  position: relative;
  float: right;
}

#login_link {
  height: 26px;
  line-height: 26px;
}

#account_dd_button {
  position: relative;
  margin-top: 2px;
  height: 24px;
  border: 1px solid #d7d7d7;
  -moz-border-radius: @defaultBorderRadius;
  -o-border-radius: @defaultBorderRadius;
  -webkit-border-radius: @defaultBorderRadius;
  border-radius: @defaultBorderRadius;
  background-color: #e1e1e1;
  z-index: 20;
}

#account_dd_content {
  float: left;
  padding: 4px 8px;
  height: @defaultPadding;
  line-height: @defaultPadding;
}

#account_dd_divider {
  float: left;
  width: 0px;
  height: 24px;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #ededed;
}

#account_dd_arrow {
  float: left;
  width: 20px;
  height: 26px;
  background-image: url(sprite.png);
  background-position: 0px -7px;
  cursor: pointer;
}

#account_dd_menu {
  display: none;
  position: absolute;
  top: 26px;
  border: 1px solid #d7d7d7;
  border-top: 1px dotted #ededed;
  -moz-border-bottom-left-radius: @defaultBorderRadius @defaultBorderRadius;
  -moz-border-bottom-right-radius: @defaultBorderRadius @defaultBorderRadius;
  -o-border-bottom-left-radius: @defaultBorderRadius @defaultBorderRadius;
  -o-border-bottom-right-radius: @defaultBorderRadius @defaultBorderRadius;
  -webkit-border-bottom-left-radius: @defaultBorderRadius @defaultBorderRadius;
  -webkit-border-bottom-right-radius: @defaultBorderRadius @defaultBorderRadius;
  border-bottom-left-radius: @defaultBorderRadius @defaultBorderRadius;
  border-bottom-right-radius: @defaultBorderRadius @defaultBorderRadius;
  background-color: #e1e1e1;
  text-align: center;
  z-index: 100;

  li {
    margin: 12px 0px;
  }
}


/*----- Flashes and notifications -----*/
#error_explanation {
  margin: 10px @defaultPadding 0px @defaultPadding;
  padding: 10px;
  background: #ffd7d8;
  border-top: 1px solid #f9bac7;
  border-bottom: 1px solid #f9bac7;
  color: #d54c4c;

  h2 {
    margin-bottom: 6px;
    padding: 0px;
    border: none;
    font-size: 12px;
  }

  li {
    margin-top: 5px;
    margin-left: 20px;
    list-style-type: square;
    font-style: italic;
  }
}

.flash {
  margin: 0px auto 20px auto;
  padding: 10px;
  width: 400px;
  font-style: italic;
  text-align: center;
}

.flash.error {
  background: #ffd7d8;
  border-top: 1px solid #f9bac7;
  border-bottom: 1px solid #f9bac7;
  color: #d54c4c;
}

.flash.alert {
  background: #ffcba8;
  border-top: 1px solid #fdbb75;
  border-bottom: 1px solid #fdbb75;
  color: #cc6600;
}

.flash.notice {
  background: #d5ffca;
  border-top: 1px solid #cadba7;
  border-bottom: 1px solid #cadba7;
  color: #5f8b33;
}


/*----- Submit input buttons -----*/
input[type='submit'].button,
input[type='submit']:hover.button {
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  -moz-border-radius: @defaultBorderRadius;
  -o-border-radius: @defaultBorderRadius;
  -webkit-border-radius: @defaultBorderRadius;
  border-radius: @defaultBorderRadius;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
  -o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

input[type='submit']:hover.button { background-position: 0 -28px; }

input[type='submit'].button.green {
  border: 1px solid #adc671;
  color: #5d7731!important;
  background-image: url(button_green.png);
  text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

input[type='submit']:hover.button.green { border: 1px solid #8bb14d; }

/*----- Miscellaneous classes -----*/
.bold {
  font-weight: bold;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.regular {
  font-weight: normal;
}

.right {
  float: right;
}

.text_right {
  text-align: right;
}


/*----- Organisation styles -----*/
#organisation_summary {
  margin-bottom: @defaultPadding;
  
  p {
    margin-bottom: 8px;
  }
}


/*----- Round styles -----*/
.current_round {
  background-color: #D9EFFA;  
}

.round_av_wrapper {
  float: left;
  margin: 14px 12px 25px 14px;
  width: 200px;
  -moz-box-shadow: 0px 0px 2px rgba(205, 205, 205, 0.5);
  -o-box-shadow: 0px 0px 2px rgba(205, 205, 205, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(205, 205, 205, 0.5);
  box-shadow: 0px 0px 2px rgba(205, 205, 205, 0.5);
}

.round_av_thumbnail {
  margin: 0px auto 0px auto;
  width: 200px;
  height: 150px;

  a:link, a:active, a:hover, a:visited {
    border: none;
  }

  img {
    width: 200px;
    height: 150px;
  }
}

.round_av_info {
  height: 40px;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #d7d7d7;
  border-top: none;
  -moz-border-bottom-left-radius: @defaultBorderRadius;
  -moz-border-bottom-right-radius: @defaultBorderRadius;
  -o-border-bottom-left-radius: @defaultBorderRadius;
  -o-border-bottom-right-radius: @defaultBorderRadius;
  -webkit-border-bottom-left-radius: @defaultBorderRadius;
  -webkit-border-bottom-right-radius: @defaultBorderRadius;
  border-bottom-left-radius: @defaultBorderRadius;
  border-bottom-right-radius: @defaultBorderRadius;
}

.round_av_title {
  margin-bottom: 10px;
  font-weight: bold;
}

.round_av_author {
  font-style: italic;
}


/*----- Audio Visual styles -----*/
#av_player {
  width: 600px;
  height: 338px;
  background-color: #000;
}

#av_summary {
  width: 300px;
  float: right;

  h4 {
    padding: @defaultPadding;
    border-bottom: 1px solid #909090;
    color: #666666;
    background-color: #eee;
  }

  dt {
    padding: (@defaultPadding / 2) @defaultPadding;
    background-color: #f9f9f9;
    font-weight: bold;
  }

  dd {
    margin-bottom: @defaultPadding;
    padding: (@defaultPadding / 2) @defaultPadding;
  }
}

#av_feedback {
  margin-top: 40px;
  width: 600px;
}

#tabs {
  li {
    position: relative;
    z-index: 5;
    display: inline-block;
    margin-right: 25px;
    padding: 10px 20px;
    border: 1px solid #eee;
    -moz-border-top-left-radius: @defaultBorderRadius @defaultBorderRadius;
    -moz-border-top-right-radius: @defaultBorderRadius @defaultBorderRadius;
    -o-border-top-left-radius: @defaultBorderRadius @defaultBorderRadius;
    -o-border-top-right-radius: @defaultBorderRadius @defaultBorderRadius;
    -webkit-border-top-left-radius: @defaultBorderRadius @defaultBorderRadius;
    -webkit-border-top-right-radius: @defaultBorderRadius @defaultBorderRadius;
    border-top-left-radius: @defaultBorderRadius @defaultBorderRadius;
    border-top-right-radius: @defaultBorderRadius @defaultBorderRadius;
    background-color: #fafafa;
    cursor: pointer;
  }

  li.active {
    z-index: 15;
    border-bottom: 2px solid #fff;
    background-color: #fff;
    font-weight: bold;
  }
}

#tab_base {
  position: relative;
  z-index: 10;
  margin-top: -2px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

#av_critiques_wrapper {
  display: none;
  padding: @defaultPadding 0px;
}

#av_comments_wrapper {
  display: none;
  padding: @defaultPadding 0px;
}

.critique_wrapper {
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid #eee;
  -moz-border-radius: @defaultBorderRadius;
  -o-border-radius: @defaultBorderRadius;
  -webkit-border-radius: @defaultBorderRadius;
  border-radius: @defaultBorderRadius;
  background-color: #fafafa;
}

.critique_title {
  padding: @defaultPadding;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  cursor: pointer;

  h4 {
    font-weight: bold;
  }
}

.critique_content {
  display: none;
  padding: @defaultPadding;
  padding-bottom: 0px;
}

.no_content {
  font-style: italic;
  color: #ccc;
}

#add_comment_form_wrapper {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dashed #eee;
}


/*----- Reusable critique/comment component styles -----*/
.component_wrapper {
  margin-bottom: @defaultPadding;

  textarea {
    width: 100%;
  }
}

.component_title {
  margin-bottom: @defaultPadding / 2;
}

.component_content_wrapper {
  margin-bottom: @defaultPadding * 2;
}

.component_content {
  margin: 5px 0px 20px 0px;
}


/*----- Critique/Comment Reply styles -----*/
.component_reply_wrapper {
  margin: 0px 0px 0px @defaultPadding;
  padding: @defaultPadding;
  background-color: #f0f0f0;
  -moz-border-radius: @defaultBorderRadius;
  -o-border-radius: @defaultBorderRadius;
  -webkit-border-radius: @defaultBorderRadius;
  border-radius: @defaultBorderRadius;
}

.component_reply_title {
  margin-bottom: @defaultPadding / 2;
}

.component_reply_form_wrapper {
  display: none;
  margin-right: @defaultPadding;

  textarea {
    margin-bottom: 5px;
  }
}

.component_reply_spinner {
  display: none;
}

.add_comment_spinner {
  display: none;
}


/*----- Pagination -----*/
.pagination {
  margin-bottom: @defaultPadding;
  padding-top: @defaultPadding;
  text-align: center;
}

.current {
  padding: 0px 5px;
  font-size: 14px;
  font-weight: bold;
}


/*----- Spinner -----*/
.spinner {
  width: 24px;
  height: 24px;
  background: url(spinner.gif) no-repeat;
}


/*----- Uploader -----*/
#uploadControls {
  margin-bottom: 20px;
}

#SWFUpload_0 {
  position: relative;
  z-index: 100;
}

#selectFilesLink {
  position: absolute;
  border-bottom: 1px dotted @defaultFontColour;
  cursor: pointer;
  z-index: 50;
}

#uploadProgressBarContainer {
  display: none;
  position: relative;
  background-color: #ebebeb;
  border: 1px solid #d7d7d7;
}

#uploadProgressLabel {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 12px;
  line-height: 24px;
}

#uploadProgressBar {
  width: 0px;
  height: 26px;
  border-color: #78b337 #6ba031 #568128;
  background-color: #85c440;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7dc8e), color-stop(70%, #99ce5f), color-stop(100%, #85c440));
  background-image: -webkit-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -moz-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -ms-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -o-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}


/*----- Home page video player -----*/
#slideshowContainer {
  margin-top: 100px;
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: @defaultBorderRadius;
  -o-border-radius: @defaultBorderRadius;
  -webkit-border-radius: @defaultBorderRadius;
  border-radius: @defaultBorderRadius;
}

#slideshowContent {
  padding: @defaultPadding;
  overflow: hidden;
  text-align: left;
}

#slideshowFooter {
  height: 38px;
  padding: 0px @defaultPadding;
  border-top: 1px solid #ddd;
  background-color: #f3f3f3;

  ul {
    margin-top: 14px;
  }

  li {
    display: inline-block;
  }
}

.slide {
  display: none;
  width: @pageWidth;
}

.slideshowInfo {
  float: right;
  margin: 40px 30px 0px 0px;
  width: 260px;
  padding: @defaultPadding;
}

.slideIndicator {
  margin-right: 4px;
  width: 10px;
  height: 10px;
  background-image: url(sprite.png);
  background-position: -10px -33px;
  cursor: pointer;
}

.slideIndicator.active {
  background-position: 0px -33px;
}
