#uploaderWrapper {
  text-align: left;
  visibility: hidden;
}

#uploaderContainer {
  width: 100px;
}

#uploaderOverlay {
  position: absolute;
  z-index: 2;
}

#selectFilesLink {
  margin-bottom: 16px;
  width: 120px;
  z-index: 1;
}

#uploadFilesLink {
  display: none;
}

.progressbars {
  margin-bottom: 16px;
  width: 269px;
}

.yui3-progressbar {
  margin-bottom: 3px;
}

.yui3-progressbar .yui3-progressbar-content {
  position: relative;
  background-color: #ebebeb;
  border: 1px solid #d7d7d7;
}

.yui3-progressbar .yui3-progressbar-label {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 12px;
  line-height: 24px;
}

.yui3-progressbar-slider {
  width: 0px;
  height: 26px;
  border-color: #78b337 #6ba031 #568128;
  background-color: #85c440;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7dc8e), color-stop(70%, #99ce5f), color-stop(100%, #85c440));
  background-image: -webkit-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -moz-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -ms-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -o-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}