#av_player
  %iframe{src: "https://player.vimeo.com/video/#{@audio_visual.external_reference}", width: "600", height: "338", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
