- javascript params[:controller]
- javascript 'http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js'
- javascript 'uploader'

#new_av_form.form_wrapper.narrow
  %h2= t("audio_visual.new.title")

  = render 'form'
