#{@user.organisation_display_name} has updated their critique of your audio visual titled #{@audio_visual.title}.

%br

Click the following link to view the critique.
= link_to @audio_visual.title, audio_visual_url(@audio_visual)
